.map-page__map .popup-menu {
    position: absolute;
    top: 160px;
    left: 0;
    bottom: 122px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 19px;
    padding-left: 23px;
    padding-right: 39px;
    padding-bottom: 45px;
    background-color: rgba(15, 28, 46, 0.7);
    width: 369px;
    /* height: 608px; */
    height: auto;
    box-sizing: border-box;
    animation: slide-in-left 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.map-page__map .popup-menu.slide-out-left {
    animation: slide-out-left 0.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@keyframes slide-in-left {
    0% {
        transform: translateX(-400px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slide-out-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-400px);
    }
}

/* .map-page__map .popup__img {
    width: 100%;
    height: 100px;
    overflow: hidden;
} */

/* .map-page__map .popup__name {
    text-transform: uppercase;
} */

/* .map-page__map .popup__address {
    text-align: left;
} */

/* .map-page__map .popup__descr {
    text-align: justify;
} */

/* .map-page__map .popup__close {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
} */

/* .map-page__map .popup__close:hover {
    opacity: 0.7;
    cursor: pointer;
} */

/* .map-page__map .popup__close::before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -6px;
    margin-left: -1px;
    content: '';
    width: 2px;
    height: 12px;
    background-color: #000;
    transform: rotate(45deg);
} */

/* .map-page__map .popup__close::after {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -6px;
    margin-left: -1px;
    content: '';
    width: 2px;
    height: 12px;
    background-color: #000;
    transform: rotate(-45deg);
} */

/* .map-page__map .popup__more {
    margin-top: auto;
    color: #000000;
} */

/* .map-page__map .popup__more:hover {
    opacity: 0.7;
    cursor: pointer;
} */


/* search */
.map-page__map .popup-menu__search {
    width: 211px;
    height: 37px;
    margin-top: 11px;
    margin-bottom: 11px;
    margin-left: auto;
    border-bottom: 1px solid #ffffff
}

.map-page__map .popup-menu__search-input {
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #ffffff;
    background-color: transparent;
    border: none;
}

.map-page__map .popup-menu__search-input:focus {
    outline: none;
}

.map-page__map .popup-menu__search-input:focus::placeholder {
    opacity: 0;
}

.map-page__map .popup-menu__search-input::placeholder {
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #ffffff;
    opacity: 1;
    transition: opacity 0.3s;
}

.map-page__map .popup-menu__search-submit {
    width: 37px;
    height: 37px;
    padding: 0;
    background-color: transparent;
    border: none;
}

.map-page__map .popup-menu__search-icon {
    width: 14px;
    height: 14px;
}

.map-page__map .popup-menu__search-icon::before {
    font-size: 14px;
}


/* scrollbar */
.popup-menu__scrollbar {
	margin-top: 44px;
	height: 100%;
	width: 100%;
	background: transparent;
	overflow-y: scroll;
}

.popup-menu__scrollbar::-webkit-scrollbar {
	width: 4px;
    background-color: rgba(216, 216, 216, 0.39);
    border-radius: 6px;
}

.popup-menu__scrollbar::-webkit-scrollbar-track {
  border-radius: 6px;
  background: rgba(216, 216, 216, 0.39);
}

.popup-menu__scrollbar::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: rgb(216, 216, 216);
}

.popup-menu__scrollbar::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

.popup-menu__scrollbar::-webkit-scrollbar-thumb:active {
  background: linear-gradient(left, #22ADD4, #1E98BA);
}


/* popup-menu */
.map-page__map .popup-menu__list,
.map-page__map .popup-menu__dropdown {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

.map-page__map .popup-menu__list {
    margin-bottom: 0;
    padding-right: 25px;
    overflow-y: scroll;
}

.map-page__map .popup-menu__dropdown {
    display: none;
    padding-left: 13px;
}

.map-page__map .popup-menu__list-item,
.map-page__map .popup-menu__dropdown-item {
    width: 100%;
    box-sizing: border-box;
}

.map-page__map .popup-menu__list-link,
.map-page__map .popup-menu__dropdown-link {
    position: relative;
    display: block;
    padding-left: 12px;
    padding: 13px;
    padding-left: 40px;
    font-size: 22px;
    font-weight: 400;
    line-height: 1;
    text-align: left;
    color: #ffffff;
    border: 1px solid transparent;
    border-radius: 10px;
    box-sizing: border-box;
    transition: border 0.3s;
}

.map-page__map .popup-menu__list-link::before,
.map-page__map .popup-menu__dropdown-link::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 13px;
    width: 4px;
    height: 4px;
    margin-top: -2px;
    background-color: #ffffff;
    border-radius: 50%;
}

.map-page__map .popup-menu__list-link:hover,
.map-page__map .popup-menu__dropdown-link:hover {
    border: 1px solid #ffffff;
    cursor: pointer;
}


/* hamburger */
.map-page__map .hamburger {
    z-index: 10;
    position: absolute;
    top: calc(160px + 19px);
    left: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 18px;
    font: inherit;
    text-transform: none;
    color: inherit;
    background-color: transparent;
    opacity: 1;
    border: solid 2px #ffffff;
    cursor: pointer;
    overflow: visible; 
    transition: opacity 0.3s;
    box-sizing: border-box;
}

.map-page__map .hamburger:hover {
    opacity: 0.7; 
}

.map-page__map .hamburger:hover .hamburger-inner,
.map-page__map .hamburger:hover .hamburger-inner::before,
.map-page__map .hamburger:hover .hamburger-inner::after {
    background-color: #ffffff;
}

.map-page__map .hamburger:focus {
    outline: 0;
}

/* .hamburger.is-active:hover {
    opacity: 0.7; 
} */

.map-page__map .hamburger.is-active .hamburger-inner,
.map-page__map .hamburger.is-active .hamburger-inner::before,
.map-page__map .hamburger.is-active .hamburger-inner::after {
    background-color: #ffffff;
}

.map-page__map .hamburger-box {
    width: 20px;
    height: 20px;
    display: inline-block;
    position: relative; 
}
  
.map-page__map .hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px; 
}

.map-page__map .hamburger-inner, 
.map-page__map .hamburger-inner::before, 
.map-page__map .hamburger-inner::after {
    width: 20px;
    height: 4px;
    background-color: #ffffff;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; 
}

.map-page__map .hamburger-inner::before, 
.map-page__map .hamburger-inner::after {
    content: "";
    display: block; 
}

.map-page__map .hamburger-inner::before {
    top: -8px; 
}

.map-page__map .hamburger-inner::after {
    bottom: -8px; 
}

/* Squeeze */
.map-page__map .hamburger--squeeze .hamburger-inner {
    transition-duration: 0.075s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); 
}

.map-page__map .hamburger--squeeze .hamburger-inner::before {
    transition: top 0.075s 0.12s ease, opacity 0.075s ease; 
}

.map-page__map .hamburger--squeeze .hamburger-inner::after {
    transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19); 
}
  
.map-page__map .hamburger--squeeze.is-active .hamburger-inner {
    transform: rotate(45deg);
    transition-delay: 0.12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); 
}

.map-page__map .hamburger--squeeze.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.075s ease, opacity 0.075s 0.12s ease; 
}

.map-page__map .hamburger--squeeze.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); 
}


/* controls */
.map-page__map .mapboxgl-ctrl-compass {
    display: none !important;
}

.map-page__map .mapboxgl-ctrl-top-right {
    top: auto;
    right: 9.1405vw;
    bottom: 11.146vw;
}

.map-page__map .mapboxgl-ctrl-group {
    background: transparent;
    box-shadow: none !important;
}

.map-page__map .mapboxgl-ctrl-icon {
    position: relative;
    width: 60px;
    height: 60px;
    /* background-size: 20px 20px; */
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
    border: 2px solid #ffffff !important;
    transition: opacity 0.3s;
}

.map-page__map .mapboxgl-ctrl-icon:hover {
    opacity: 0.7;
}

.map-page__map .mapboxgl-ctrl-icon.mapboxgl-ctrl-zoom-in {
    margin-bottom: 20px;
    background-image: url('../img/map-plus.svg') !important;
}

.map-page__map .mapboxgl-ctrl-icon.mapboxgl-ctrl-zoom-out {
    background-image: url('../img/map-minus.svg') !important;
}


/* popup */
.map-page__map .mapboxgl-popup {
    max-width: 265px;
    width: 265px;
    height: 276px;
}

.map-page__map .mapboxgl-popup-content {
    width: 100%;
    height: 100%;
    padding: 22px 25px 22px 29px;
    background-color: rgba(15, 28, 46, 0.7);
    border-radius: 0;
}

.map-page__map .mapboxgl-popup-tip {
    border-top-color: rgba(15, 28, 46, 0.7);
    border-bottom-color: rgba(15, 28, 46, 0.7);
}

.map-page__map .popup-place {
    height: 100%;
    border: 1px solid red;
}

.map-page__map .popup__name {
    margin-bottom: 26px;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    color: #ffffff;
}

.map-page__map .popup__person,
.map-page__map .popup__address {
    margin-bottom: 23px;
}

.map-page__map .popup__icon {
    flex-shrink: 0;
    width: 25px;
    height: 25px;
    margin-right: 13px;
    border: 1px solid red;
}

.map-page__map .popup__text {
    min-height: 25px;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    vertical-align: middle;
    color: #ffffff;
    border: 1px solid red;
}

@media(max-width: 575px) {
    .map-page__map .popup {
        width: 100%;
    }
}

