.button
    text-align: center

.button_color_transparent
    width: 348px
    height: 75px
    font-family: $font-main
    font-size: 21px
    font-weight: 700
    line-height: 75px
    color: $color-text
    background-color: $color-transparent
    border: 4px solid $color-lightblue

.button_color_blue
    position: relative
    width: 290px
    height: 68px
    font-family: $font-main
    font-size: 18px
    font-weight: 700
    line-height: 68px
    text-transform: uppercase
    color: $color-text
    background-color: $color-blue
    overflow: hidden
    transition: 0.35s ease all

.button_color_blue:hover
    line-height: 204px
    color: $color-text
    background-color: darken($color-blue, 7%)
    text-decoration: none
    box-shadow: 0 0 3px rgba(black, 0.5) inset

.button_color_blue::before
    content: attr(data-text)
    position: absolute
    top: -68px
    color: $color-text
    opacity: 0.9
    box-sizing: border-box

.button_color_blue:active
    line-height: 204px
    color: $color-text
    background-color: $color-blue
    text-decoration: none
    box-shadow: none

@media(max-width: 767px)
    .button
        width: 100%
