.button
    text-align: center

.button_color_transparent
    width: 18.2vw
    height: 3.9vw
    font-family: $font-main
    font-size: 1vw
    font-weight: 700
    line-height: 3.9vw
    color: $color-text
    border: 0.1vw solid $color-lightblue

.button_color_blue

@media(max-width: $mobile-width)
    .button_color_transparent
        width: 45.5vw
        height: 9.7vw
        font-size: 2.5vw
        line-height: 9.7vw
        border: 0.25vw solid $color-lightblue