.search
    width: 20px
    height: 20px
    padding: 0
    background-color: transparent
    border: 1px solid red

.search__text
    font-size: 0

@media(max-width: $mobile-width)
    .search
        width: 72px
        height: 72px
        padding: 15px

    .search__icon
        font-size: 40px