html,
body
    height: 100%

body
    display: flex
    flex-direction: column
    font-family: $font-main
    color: $color-text

img
    width: 100%
    height: auto

.container
    border: 1px solid black

@media(max-width: 1920px)
    .container
        max-width: 81vw
        padding: 0

@media(max-width: $mobile-width)
    .container
        max-width: 100vw
        padding-left: 15px
        padding-right: 15px